<body class="hold-transition login-page bg-white">
  <div class="login-box" id="Login">
    <div class="login-logo">
      <b>Solo Talento Examen</b>
    </div>
    <div class="card border border-secondary">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Ingresa las credenciales</p>

        <div class="input-group mb-3">
          <input #email type="email" class="form-control" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
          <input #contrasena type="password" class="form-control" placeholder="Contraseña">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="recordar" />
              <label for="Recordar">Recordar</label>
            </div>
          </div>
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block" (click)="Ingresar(email.value,contrasena.value)" >Ingresar</button>
            <!--<button type="submit" class="btn btn-primary btn-block" routerLink="/tienda">Ingresar</button>-->

          </div>

          <!--<a routerLink="/tienda">Contacto</a>-->

        </div>

        <div class="social-auth-links text-center mb-3">
          <p>- O -</p>
          <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i>Usar Facebook
          </a>
          <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i>Usar Google+
          </a>
        </div>

        <p class="mb-1">
          <a href="#">Olvidé mi contraseña</a>
        </p>
        <p class="mb-0">
          <a class="text-center">Registrarse</a>
        </p>


      </div>
    </div>
  </div>

  <!--<script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->

</body>
